<section class="auth-page">
    <div class="row auth-height full-height-vh m-0">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="card card-login shadow">
                <div class="card-body auth-img">
                    <div class="row m-0">
                        <div class="col-lg-7 col-md-12 px-4 py-3">
                            <h4 class="card-title mb-3">Ingreso</h4>
                            <p class="mb-4">Bienvenido, Ingrese con su cuenta</p>
                            <form class="form-signin" class="form-signin">
                                <div class="">
                                    <button class="btn btn-lg btn-primary" type="button" (click)="onLogin()">Iniciar Sesión</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>